/* CORE */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
* {
  box-sizing: border-box; }

html {
  font-family: Josefin-Sans;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  border-style: solid;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: Josefin-Sans, Josefin-Sans;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: Josefin-Sans, Josefin-Sans;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  /* 1 */
  font-size: 14px;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

input::placeholder {
  font-size: 14px;
  color: #B5B5B5;
  font-family: inherit; }

input::-moz-placeholder {
  font-size: 14px;
  color: #B5B5B5;
  font-family: inherit; }

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #B5B5B5;
  font-family: inherit; }

input:-ms-input-placeholder {
  font-size: 14px;
  color: red;
  font-family: inherit; }

/* MEDIA QUERIES ----------- */
/* MIXINS FOR MEDIA QUERIES ----------- */
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat-Medium.ttf") format("ttf"); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Montserrat-SemiBold.ttf") format("ttf"); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat-Bold.ttf") format("ttf"); }

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 600;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma"); }

/* UTILITIES */
body {
  font-family: "Montserrat", sans-serif; }

.bg-purple {
  background: #5F0F40 !important; }

.text-purple {
  color: #5F0F40 !important; }

.border-purple {
  border-color: #5F0F40 !important; }

/* COMPONENTS */
.cta-button {
  color: #ffffff !important;
  background-color: #FF7F50;
  border: none;
  border-radius: 0px;
  cursor: pointer; }
  .cta-button:hover {
    background-color: #f88a62;
    border: none; }
  .cta-button:focus {
    border: none; }
  .cta-button:not(:disabled):not(.disabled):active,
  .cta-button .cta-button:not(:disabled):not(.disabled).active,
  .cta-button .show > .cta-button.dropdown-toggle {
    background-color: #FF7F50;
    border: none; }

.primary__btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  background-color: #F2EDED;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  color: #1D1D1D;
  cursor: pointer; }
  .primary__btn:hover {
    background-color: #ebebeb;
    box-shadow: none; }
  .primary__btn:focus {
    border: none;
    box-shadow: none; }
  .primary__btn:not(:disabled):not(.disabled):active,
  .primary__btn .primary__btn:not(:disabled):not(.disabled).active,
  .primary__btn .show > .primary__btn.dropdown-toggle {
    background-color: #ebebeb;
    box-shadow: none;
    border: none; }

.default__btn {
  color: #050401;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(201, 201, 201, 0.58);
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer; }
  .default__btn:hover {
    color: #050401;
    border: 1px solid #f88a62; }
  .default__btn:focus {
    border: 1px solid rgba(201, 201, 201, 0.58);
    box-shadow: none; }
  .default__btn:not(:disabled):not(.disabled):active,
  .default__btn .default__btn:not(:disabled):not(.disabled).active,
  .default__btn .show > .default__btn.dropdown-toggle {
    background-color: #ffffff;
    color: #1D1D1D;
    box-shadow: none;
    border: 1px solid rgba(201, 201, 201, 0.58); }

.nav__body {
  z-index: 1 !important;
  padding: 20px 80px; }
  .nav__body .nav-item.active .nav-link {
    color: #ffffff !important; }
  .nav__body .nav-link {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px; }
    .nav__body .nav-link:hover {
      color: #ffffff !important; }
  .nav__body .navbar-brand {
    color: #ffffff; }
  .nav__body .navbar-nav {
    margin-left: auto; }
  .nav__body .navbar-toggler {
    border: none !important; }
  .nav__body .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

@media screen and (min-width: 992px) {
  .nav__body .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem; } }

@media screen and (max-width: 473px) {
  .nav__body {
    padding: 20px; } }

/* MODULES */
.home__hero {
  width: 100%; }
  .home__hero-bg {
    width: 100%;
    height: 80vh;
    background: url("../image/hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
  .home__hero-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .home__hero-text {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 75px; }
    .home__hero-text-wrap {
      position: relative;
      top: 30%;
      width: 50%;
      margin: 0 auto;
      z-index: 1;
      margin-top: -38px; }
  .home__hero-sub {
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 20px; }

.logo {
  display: block;
  margin-left: 5%;
  margin-top: 0;
  padding-top: 38px;
  color: #fff;
  z-index: 1;
  position: relative;
  width: fit-content;
  margin-right: 0; }

.section__wrap {
  max-width: 1366px;
  margin: 0 auto; }

.activity {
  background-color: #ffe9e9; }
  .activity__heading {
    padding-top: 20px;
    padding-bottom: 0; }
    .activity__heading-text {
      font-size: 30px;
      font-weight: 700;
      color: #050401;
      line-height: 45px;
      text-align: center; }
  .activity__wrap {
    text-align: center;
    padding: 30px 0; }
  .activity__text {
    color: #30BCED;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px; }
  .activity__title {
    color: #303036;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px; }
  .activity__time {
    font-size: 16px;
    color: #303036;
    font-weight: 500;
    letter-spacing: 2px; }

.joinUs {
  background-color: #FFFAFF;
  text-align: center;
  padding: 60px 40px; }
  .joinUs__title {
    font-size: 50px;
    margin-bottom: 20px;
    color: #050401;
    font-weight: 700; }
  .joinUs__text {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 22.5px;
    color: #050401; }

.meetPastor {
  text-align: center;
  color: #fff;
  min-height: 400px;
  background: url("../image/pastor-img.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -70px;
  position: relative; }
  .meetPastor__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px; }
  .meetPastor__words {
    margin-left: auto;
    width: 80%; }
    .meetPastor__words-wrap {
      position: absolute;
      top: 18%; }
    .meetPastor__words .cta-button {
      padding: 10px 20px;
      font-size: 16px;
      margin-top: 20px;
      font-weight: 500; }
  .meetPastor__sub {
    font-size: 15px;
    line-height: 22.5px; }

.event {
  padding: 60px 40px;
  padding-bottom: 20px; }
  .event__title {
    color: #050401;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center; }
  .event__individual-img {
    height: 200px; }
  .event__individual-detail {
    text-align: center;
    margin-top: 10px; }
  .event__individual-title {
    padding: 15px 0;
    color: #050401;
    font-size: 18px;
    font-weight: 600; }
  .event__individual-info {
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
    color: #818181;
    font-weight: 100; }

.social__streams {
  height: fit-content;
  position: absolute;
  top: 35%;
  left: 18%; }
  .social__streams-wrap {
    min-height: 400px;
    background-color: #ededed;
    position: relative;
    text-align: center; }
  .social__streams h3 {
    font-size: 50px;
    color: #050401;
    font-weight: 600;
    margin-bottom: 30px; }
  .social__streams .default__btn {
    font-size: 20px;
    padding: 10px 20px; }
    .social__streams .default__btn:hover svg {
      fill: #FF7F50; }
    .social__streams .default__btn svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      transform: rotate(180deg);
      margin-right: 10px; }
    .social__streams .default__btn span {
      vertical-align: middle; }

.social__icons {
  height: fit-content;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 13%; }
  .social__icons-individual {
    height: 80px;
    width: 80px;
    position: relative;
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto; }
    .social__icons-individual-two {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      background-color: #cfcfcf;
      border: 8px solid #dfdfdf;
      border-radius: 1000px;
      -webkit-border-radius: 1000px;
      -moz-border-radius: 1000px;
      -o-border-radius: 1000px;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      overflow: hidden;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .social__icons-individual-two:hover {
        background-color: #FF7F50;
        border: 8px solid #FF7F50; }
    .social__icons-individual svg {
      fill: #ffffff;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 32%;
      left: 31.5%; }
  .social__icons-wrap {
    min-height: 400px;
    position: relative;
    background-color: #e2e2e2;
    text-align: center; }
  .social__icons-heading {
    font-size: 50px;
    color: #050401;
    font-weight: 600;
    margin-bottom: 30px; }

.footer {
  background: #151E3F;
  padding: 50px 20px; }
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto; }
  .footer__item {
    border-right: 1px solid #cfcfcf;
    margin-right: 20px;
    padding-right: 20px;
    margin-bottom: 10px; }
    .footer__item:last-child {
      border: none;
      margin-right: 0px;
      padding-right: 0px; }
  .footer__link {
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 15px; }
    .footer__link:hover {
      text-decoration: none;
      color: #FF7F50; }
  .footer__trademark {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 25px; }

@media screen and (max-width: 1920px) {
  .home__hero-text-wrap {
    width: 40%; }
  .meetPastor {
    background-position-y: -200px; } }

@media screen and (max-width: 1484px) {
  .meetPastor {
    background-position-y: -120px; } }

@media screen and (max-width: 1366px) {
  .home__hero-text-wrap {
    width: 50%; } }

@media screen and (max-width: 1153px) {
  .social__icons {
    left: 7%; } }

@media screen and (max-width: 1113px) {
  .social__streams {
    left: 13%; } }

@media screen and (max-width: 1024px) {
  .home__hero-bg {
    height: 50vh; } }

@media screen and (max-width: 990px) {
  .social__streams {
    left: 9%; } }

@media screen and (max-width: 961px) {
  .meetPastor__words {
    width: 100%;
    margin-left: 0; }
  .meetPastor {
    padding: 30px; }
  .meetPastor__words-wrap {
    position: relative;
    margin-top: 80px; } }

@media screen and (max-width: 928px) {
  .meetPastor {
    background-position-y: -70px; } }

@media screen and (max-width: 885px) {
  .social__streams {
    left: 2%; } }

@media screen and (max-width: 831px) {
  .social__icons {
    left: 0; } }

@media screen and (max-width: 780px) {
  .home__hero-text-wrap {
    width: 60%; } }

@media screen and (max-width: 767px) {
  .activity__heading {
    text-align: center;
    padding-bottom: 10px; }
  .social__streams {
    left: 24%; }
  .social__icons {
    left: 18%; } }

@media screen and (max-width: 700px) {
  .meetPastor {
    background-position-y: center; } }

@media screen and (max-width: 625px) {
  .home__hero-text-wrap {
    width: 80%;
    top: 20%; }
  .social__streams {
    left: 18%; }
  .social__icons {
    left: 10%; } }

@media screen and (max-width: 611px) {
  .meetPastor__words-wrap {
    margin-top: 30px; } }

@media screen and (max-width: 573px) {
  .social__streams-wrap {
    min-height: 250px;
    padding: 45px 20px !important; }
  .social__streams,
  .social__icons {
    position: relative;
    left: 0;
    top: 0; }
  .social__streams h3 {
    font-size: 37px;
    line-height: 55.5px;
    margin-bottom: 20px; }
  .social__icons-heading {
    font-size: 37px;
    line-height: 55.5px; }
  .social__icons {
    padding: 50px 20px !important; } }

@media screen and (max-width: 518px) {
  .meetPastor__words-wrap {
    margin-top: 0px; }
  .meetPastor {
    height: 500px; } }

@media screen and (max-width: 473px) {
  .home__hero-sub {
    width: 100%; } }

@media screen and (max-width: 450px) {
  .joinUs__text {
    width: 100%; } }

@media screen and (max-width: 390px) {
  .home__hero-text {
    font-size: 30px;
    line-height: 45px; } }

@media screen and (max-width: 360px) {
  .event,
  .joinUs {
    padding: 30px; }
  .event__title,
  .meetPastor__title,
  .joinUs__title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px; } }

@media screen and (max-width: 342px) {
  .meetPastor {
    padding: 30px 10px; } }

.event__hero-bg {
  height: 200px;
  background-color: #30BCED; }

@media screen and (max-width: 999px) {
  .event__hero-bg {
    height: 250px; } }

@media screen and (max-width: 650px) {
  .event__hero-text {
    padding: 0 20px; }
    .event__hero-text .home__hero-text {
      font-size: 35px;
      line-height: 52.5px; } }

@media screen and (max-width: 400px) {
  .event {
    padding: 40px 20px; } }

.live__hero-bg {
  background-color: #FF7F50; }

.live__wrap {
  padding: 40px; }

.live__video {
  padding-right: 12px; }
  .live__video h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #050401; }
  .live__video-title {
    margin-bottom: 10px !important; }
  .live__video-event {
    font-size: 14px;
    color: #050401;
    font-weight: 500; }
  .live__video iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 20px; }
  .live__video-preacher {
    font-size: 14px;
    color: rgba(5, 4, 1, 0.5);
    font-weight: normal; }

.live__audio {
  padding-left: 12px; }
  .live__audio h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #050401; }

.messages {
  padding: 40px;
  padding-top: 0px; }
  .messages__link {
    margin-top: 10px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee; }
    .messages__link a {
      display: block;
      font-size: 13px;
      font-weight: 600;
      color: #FF7F50; }
      .messages__link a:first-child {
        color: red;
        margin-right: auto; }
        .messages__link a:first-child:hover svg {
          fill: red; }
      .messages__link a:hover {
        text-decoration: none; }
        .messages__link a:hover svg {
          fill: #FF7F50; }
      .messages__link a svg {
        width: 15px;
        height: 15px; }
      .messages__link a span {
        vertical-align: middle; }
  .messages__audio {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .messages .event__individual-detail {
    margin-top: 0; }
  .messages__title {
    color: #050401;
    font-weight: 600;
    text-align: left;
    font-size: 20px;
    margin-bottom: 40px; }

@media screen and (max-width: 767px) {
  .live__audio,
  .live__video {
    padding: 0; } }

@media screen and (max-width: 400px) {
  .live__wrap {
    padding: 20px; }
  .messages {
    padding: 0 20px 20px 20px; } }

.contact {
  background-color: #f6f6f6; }
  .contact__hero-bg {
    background-color: #122C34; }
  .contact__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #050401; }
  .contact__address-location, .contact__address-email, .contact__address-phone {
    font-size: 15px;
    color: rgba(5, 4, 1, 0.5);
    margin-bottom: 3px;
    line-height: 22.5px; }
  .contact__address-phone {
    margin-bottom: 8px; }
  .contact__social a {
    margin-right: 17px; }
    .contact__social a:last-child {
      margin-right: 0; }
    .contact__social a:hover {
      text-decoration: none; }
      .contact__social a:hover svg {
        fill: #FF7F50; }
    .contact__social a svg {
      width: 20px;
      height: 20px;
      fill: #bcbcbc; }
  .contact__input {
    border: none;
    height: 50px;
    font-size: 15px;
    color: #050401; }
    .contact__input::placeholder {
      font-size: 12px;
      color: #050401; }
  .contact__textarea {
    border: none;
    font-size: 15px;
    color: #050401; }
    .contact__textarea::placeholder {
      font-size: 12px;
      color: #050401; }
  .contact .cta-button {
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: auto; }

@media screen and (max-width: 575px) {
  .contact .col-12,
  .contact .col-sm-12 {
    padding: 0; } }
