.cta-button {
    color: #ffffff !important;
    background-color: #FF7F50;
    border: none;
    border-radius: 0px;
    cursor: pointer;

    &:hover {
        background-color: #f88a62;
        border: none;
    }

    &:focus {
        border: none;
    }

    &:not(:disabled):not(.disabled):active,
    .cta-button:not(:disabled):not(.disabled).active,
    .show>.cta-button.dropdown-toggle {
        background-color: #FF7F50;
        border: none;
    }
}

.primary__btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    background-color: #F2EDED;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    color: #1D1D1D;
    cursor: pointer;

    &:hover {
        background-color: #ebebeb;
        box-shadow: none;
    }

    &:focus {
        border: none;
        box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active,
    .primary__btn:not(:disabled):not(.disabled).active,
    .show>.primary__btn.dropdown-toggle {
        background-color: #ebebeb;
        box-shadow: none;
        border: none;
    }
}

.default__btn {
    color: #050401;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(201, 201, 201, 0.58);
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: #050401;
        border: 1px solid #f88a62;
    }

    &:focus {
        border: 1px solid rgba(201, 201, 201, 0.58);
        box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active,
    .default__btn:not(:disabled):not(.disabled).active,
    .show>.default__btn.dropdown-toggle {
        background-color: #ffffff;
        color: #1D1D1D;
        box-shadow: none;
        border: 1px solid rgba(201, 201, 201, 0.58);
    }
}