.nav {
    &__body {
        z-index: 1 !important;
        padding: 20px 80px;

        .nav-item {
            &.active {
                .nav-link {
                    color: #ffffff !important;
                }
            }
        }

        .nav-link {
            color: rgba(#ffffff, 0.7) !important;
            font-size: 16px;

            &:hover {
                color: #ffffff !important;
            }
        }

        .navbar-brand {
            color: #ffffff;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .navbar-toggler {
            border: none !important;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

        }
    }
}

@media screen and (min-width: 992px) {
    .nav__body {
        .navbar-nav {
            .nav-link {
                padding-right: 2rem;
                padding-left: 2rem;
            }
        }
    }
}

@media screen and (max-width:473px) {
    .nav__body {
        padding: 20px;
    }
}